@import url("https://fonts.google.com/specimen/Nunito+Sans");
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:100%;
    min-height:100vh;
    --bgcolor:hsl(0,0%,98%);
    --fontcolor:hsl(200, 15%, 8%);
    font-family:"Nunito Sans" sans-serif;
}
.container{
    width:100%;
    padding:30px;
    display:flex;
    justify-content:space-between;
}
.container:nth-child(1){
    box-shadow:0 0 5px rgba(0,0,0.3);
}
button{
    outline:none;
    border:0;
    background:transparent;
}
.toggle{
    font-size:18px;
    cursor:pointer;
    color:var(--fontcolor)
}
.toggle i{
    padding:5px;
    color:var(--fontcolor);
}
.form-control{
    width:400px;
    box-shadow:0 0 5px rgba(0,0,0.3);
    position:relative;
    overflow:hidden;
    position:relative;
    border-radius: 5px;
    background-color: var(--countrybgcolor);
}
.form-control input{
    width:100%;
    padding:17px 14px;
    outline:0;
    border:0;
    font-size:16px;
    background-color: var(--countrybgcolor);
}
.second{
    flex-wrap: wrap;
    gap:1rem;
}
.form-control i{
    position:absolute;
    top:1rem;
    right: 1rem;
    cursor: pointer;
    background-color: var(--countrybgcolor);
}
.dropdowncontainer{
width:200px;
position:relative;
background-color: var(--countrybgcolor);

}
.dropdown{
    width:100%;
    padding:17px 14px;
    border-radius:5px;
    box-shadow:0 0 5px rgba(0,0,0.3);
    display:flex;
    justify-content:space-between;
    cursor:pointer;
    background-color: var(--countrybgcolor);
   
}
.dropdown p{
    letter-spacing: 0.5px;
    font-size:16px;
    background-color: var(--countrybgcolor);
}
.drop{
    position:absolute;
    box-shadow: 0 0 5px rgba(0,0,0.3);
    top:4rem; 
    padding:10px 10px;
    width:100%;
    border-radius: 5px;
    background-color: var(--countrybgcolor);
    background-color: var(--bgcolor);
    cursor: pointer;
    z-index: 10;
   
}
.drop p{
    margin:5px 0;
    
    z-index: 10;
}
.countries{
    padding:30px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px, 1fr));
    grid-gap:20px;
    margin-bottom: 7px;
    z-index: -1;
    

}
.country{
    min-height:300px;
    box-shadow: 0 0 2px rgba(0,0,0.3);
    width:250px;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--countrybgcolor);
   
    cursor: pointer;
}
.country-img{
    height:180px;
}
.country-img img{
    width:100%;
    height: 100%;
    object-fit: cover;;
}
.country-info{
    padding:5px 10px;
}
.country-info h5{
    padding:10px 0;
    font-size:20px ;
    letter-spacing: 1px;
}
.country-info p>strong{
    font-weight: 600;
}
.country-info p{
    letter-spacing: 1px;
}
.showdropdown{
    display: none;
}
i{
    cursor: pointer;
    color: var(--fontcolor);
}
.dark{
--bgcolor:hsl(207, 26%, 17%);
--fontcolor:hsl(0, 0%, 100%);
background-color: var(--bgcolor);
color: var(--fontcolor) !important;
--countrybgcolor:hsl(209, 23%, 22%);
}
.countrymodal{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:var(--bgcolor);
    padding: 30px;
}
.modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width:100%;
    flex-wrap: wrap;
}
.back{
    position:absolute;
    top:3rem;
    left:30px;
    background-color: #fdfdfd;
    box-shadow: 0 0 5px rgba(0,0,0.3);
    padding: 10px 20px;
    letter-spacing: 1px;
    border-radius:5px ;
}
.leftmodal{
    width:50%;
}
.leftmodal img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.rightmodal{
    width:50%;
    padding:2rem;
    
    
}
.modalflex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.rightmodal h1{
    margin:10px 0;
    letter-spacing:1px;
    font-size: 40px;
}
.inner p{
    
    letter-spacing: 1px;
}
.inner p>strong{
    font-weight:600 ;
}
.dispnext{
    display:none;
}
.last{
    margin-top: 1rem;
    color: var(--fontcolor);
}
.last button{
    color: var(--fontcolor);
    padding:.7rem;
}

@media screen and (max-width:600px){
h1{
font-size: 23px;
}
.toggle{
    font-size: 12px;
}
.modal{
    flex-direction: column;
    justify-content: center;
}
.leftmodal{
    width: 100%;
}
.rightmodal{
    width:100%;
}
.rightmodal h1{
    text-align: center;
}


}
@media  screen and (max-width:600px){
    .country{
        margin: auto;
    }
    
}
    




